{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <article class="h-entry">
    <header>
      <h1 class="entry-title e-title">
        <a class="p-name u-url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h1>
    </header>

    <div class="entry-content e-content container">
      <div class="row">
        <div class="8u">
          {% if article.iframe %}
          <div>
              <iframe style="border: none; width: {{ article.iframewidth + 'px' if article.iframewidth else '100%' }}; height:{{ article.iframeheight if article.iframeheight else '600' }}px;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
          </div>
          {% elif article.video %}
          <video tabindex="0" controls="" preload="none" style="width:600px;"{% if article.videoposter %} poster="{{ article.videoposter }}"{% endif %}>
            <source src="{{ article.video }}" type="video/mp4" />
          </video>
          {% elif article.image %}
          <div style="margin-bottom:20px;">
              <img src="{{ article.image }}" />
          </div>
          {% endif %}
          {% include 'article_infos.html' %}
          {{ article.content }}
          {% if article.twitter %}
          <div id="twitter">
            I also published this on <a rel="syndication" class="u-syndication" href="{{ article.twitter }}">Twitter</a>.
            <br/>&nbsp;
          </div>
          {% endif %}
        </div><!-- /.entry-content -->
        
        <div class="4u">
          <article class="box style2">
            <div><img style="border-radius:50%; width:80%;" src="theme/images/pic00.jpg" alt="" /></div>
            <h3>About me</h3>
            <p>My name is Peter Bouda and I am available to hire. I help you to bring your Internet of Things product to market as quickly as possible. I am an expert for cross-platform and embedded development with Qt.</p>
            <p>
              <a href="/#top">Read about my work</a><br/>
              or<br/>
              <a href="/#contact">Contact me</a>
            </p>
          </article>
        </div>
      </div> <!-- end row -->

    </div> <!-- end container -->

  </article>

</section>

{% endblock %}
