{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <article class="h-entry">
    <header>
      <h1 class="entry-title e-title">
        <a class="p-name u-url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h1>
    </header>

    <div class="entry-content e-content">
      {% if article.iframe %}
      <div>
          <iframe style="border: none; width: {{ article.iframewidth + 'px' if article.iframewidth else '100%' }}; height:{{ article.iframeheight if article.iframeheight else '600' }}px;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
      </div>    
      {% elif article.image %}
      <div style="margin-bottom:20px;">
          <img src="{{ article.image }}" />
      </div>
      {% endif %}
      {% include 'article_infos.html' %}
      {{ article.content }}
      {% if article.twitter %}
      <div id="twitter">
        I also published this on <a rel="syndication" class="u-syndication" href="{{ article.twitter }}">Twitter</a>.
      </div>
      {% endif %}
    </div><!-- /.entry-content -->

    <h2>Comments</h2>

    <form role="form" id="commentForm" action="#">
        <input name="Name" type="text" id="commentForm_inputName" placeholder="Enter your name or synonym" /><br/>
        <input name="Name" type="text" id="commentForm_inputSite" placeholder="Enter URL to your site" /><br/>
        <textarea name="Text" id="commentForm_inputText" rows="10" style="resize:vertical;" placeholder="Your comment"></textarea><br/>
        <button type="submit" id="commentForm_button">Post via email</button>
        <input name="replyto" type="hidden" id="commentForm_replyto" />
        <input name="replytoSlug" type="hidden" id="commentForm_replytoSlug" value="{{ article.slug }}" />
    </form>

    {% if article.comments %}
        {% for comment in article.comments recursive %}
            {% if loop.depth0 == 0 %}
                {% set marginLeft = 0 %}
            {% else %}
                {% set marginLeft = 50 %}
            {% endif %}
                <article id="comment-{{comment.slug}}" style="border: 1px solid #DDDDDD; padding: 5px 0px 0px 5px; margin: 0px -1px 5px {{marginLeft}}px;">
                    <a href="{{ SITEURL }}/{{ article.url }}#comment-{{comment.slug}}" rel="bookmark" title="Permalink to this comment">Permalink</a>
                    <h4>{{ comment.author }}</h4>
                    <p>Posted on <abbr class="published" title="{{ comment.date.isoformat() }}">{{ comment.locale_date }}</abbr></p>
                    {{ comment.metadata['my_custom_metadata'] }}
                    {{ comment.content }}
                    {% if comment.replies %}
                        {{ loop(comment.replies) }}
                    {% endif %}
                    <button onclick="reply('{{comment.slug | urlencode}}');">Reply</button>
                </article>
        {% endfor %}
    {% else %}
        <p>There are no comments yet.<p>
    {% endif %}  

    <h2>Webmentions</h2>
    <p><a href="http://indiewebify.me/">How does this work?</a></p>
    <div class="webmentions">
      <script type="text/javascript">
        function f(data) {
          if (data['links'].length > 0) { 
            document.write("<p>" + data['links'].length + " mentions:</p>");
            for (var i=0; i < data['links'].length; i++) {
              if ('author' in data['links'][i]['data']) 
                document.write("<p>" + data['links'][i]['data']['author']['name'] + " says: ");
              document.write(data['links'][i]['data']['name'] + " [<a href=\"" + data['links'][i]['source'] +  "\">" + data['links'][i]['source'] + "</a>]</p>");
            }
          } else {
            document.write("<p>No mentions yet :-P</p>");            
          }
        }
      </script>
      <script type="text/javascript" src="http://webmention.io/api/mentions?jsonp=f&target={{ (SITEURL+"/"+article.url)|urlencode }}"></script>
    </div>

  </article>

</section>

{% endblock %}
