{% extends "base.html" %}

{% block content %}

		<!-- Home -->
			<div class="wrapper style1 first" id="top">
				<article class="container">
					<div class="row">
						<div class="4u">
							<span class="image fit"><img src="theme/images/pic00.jpg" alt="" /></span>
						</div>
						<div class="8u">
							<header>
								<h1>Hi. I'm <strong>Peter Bouda</strong>.</h1>
							</header>
							<p>I am a freelancing software developer specialized on audio and speech processing on embedded and mobile platforms.</p>
							<a href="#work" class="button big scrolly">Learn about what I do</a>
						</div>
					</div>
				</article>
			</div>

		<!-- Work -->
			<div class="wrapper style2" id="work">
				<article>
					<header>
						<h2>Here's all the stuff I do.</h2>
						<p>Let me know what I can do for you.</p>
					</header>
					<div class="container">
						<div class="row">
							<div class="4u">
								<section class="box style1">
									<span class="icon featured fa-code"></span>
									<h3>Developer</h3>
									<p>I am a C++, Qt, Python and JavaScript developer with a focus on mobile and embedded platforms and 8+ years of professional experience.</p>
								</section>
							</div>
							<div class="4u">
								<section class="box style1">
									<span class="icon featured fa-microphone"></span>
									<h3>Linguist</h3>
									<p>I develop applications for audio, speech and language processing in research and industry.<br/>I am an expert for NLP solutions.</p>
								</section>
							</div>
							<div class="4u">
								<section class="box style1">
									<span class="icon featured fa-users"></span>
									<h3>Collaborator</h3>
									<p>For me software development is about communities. I like to share ideas and organize workshops about language and technology.</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>Want to know more and work with me?</p>
						<a href="#portfolio" class="button big scrolly">See some of my recent work</a>
					</footer>
				</article>
			</div>

		<!-- Portfolio -->
			<div class="wrapper style3" id="portfolio">
				<article>
					<header>
						<h2>Here’s some stuff I made recently.</h2>
						<p>A list of projects that I am working on or finished recently.</p>
					</header>
					<div class="container">
						<div class="row">
							<div class="4u">
								<article class="box style2">
									<a href="http://pbouda.github.io/brummbeere/" class="image featured"><img src="theme/images/pic01.jpg" alt="" /></a>
									<h3><a href="http://pbouda.github.io/brummbeere/">Die Brummbeere</a></h3>
									<p>An ownCloud music player<br/>based on Qt and the Raspberry Pi.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box style2">
									<a href="http://www.poio.eu" class="image featured"><img src="theme/images/pic02.gif" alt="" /></a>
									<h3><a href="http://www.poio.eu">Poio</a></h3>
									<p>Open source technologies<br/>for Language Diversity.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box style2">
									<a href="https://vimeo.com/112967710" class="image featured"><img src="theme/images/pic03.jpg" alt="" /></a>
									<h3><a href="https://vimeo.com/112967710">Freuden|Tanz</a></h3>
									<p>Web-based interactive installation<br/>by Stephan Jürgens.</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="4u">
								<article class="box style2">
									<a href="http://quanthistling.info/" class="image featured"><img src="theme/images/pic04.png" alt="" /></a>
									<h3><a href="http://quanthistling.info/">QuantHistLing</a></h3>
									<p>Data management and processing of retro-digitized dictionaries.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box style2">
									<a href="http://media.cidles.eu/poio/poio-api/" class="image featured"><img src="theme/images/pic05.png" alt="" /></a>
									<h3><a href="http://media.cidles.eu/poio/poio-api/">Poio API</a></h3>
									<p>A Python framework to work with fieldwork data in linguistic research.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box style2">
									<a href="http://www.amazon.de/gp/product/3941841505/ref=as_li_tf_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3941841505&linkCode=as2&tag=jsusde-21" class="image featured"><img src="theme/images/pic06.png" alt="" /></a>
									<h3><a href="http://www.amazon.de/gp/product/3941841505/ref=as_li_tf_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3941841505&linkCode=as2&tag=jsusde-21">PyQt book</a></h3>
									<p>GUI- und Anwendungsentwicklung mit Python und Qt.</p>
								</article>
							</div>
						</div>
					</div>
					<footer>
						<p>Want can I create for you?</p>
						<a href="#contact" class="button big scrolly">Get in touch with me</a>
					</footer>
				</article>
			</div>


{% endblock %}