{% extends "base.html" %}

{% block content %}

        <!-- Home -->
            <div class="wrapper style1 first" id="top">
                <article class="container">
                    <div class="row">
                        <div class="4u">
                            <span class="image fit"><img src="theme/images/pic00.jpg" alt="" /></span>
                        </div>
                        <div class="8u">
                            <header>
                                <h1>Hi. I'm <strong>Peter Bouda</strong>.</h1>
                            </header>
                            <p>
                                Angular Consultant and Coach at
                                <a href="http://www.ng-lisbon.com/">ng-lisbon.com</a>.
                                The rest is LEGO.
                            </p>
                            <p>
                                Join my <a href="https://app.weventual.com/detalheEvento.action?iDEvento=4134">next Angular workshop</a>
                                at TUGA IT, May 18th, in Lisbon.
                            </p>
                            <a href="#portfolio" class="button big scrolly">See my projects</a>
                        </div>
                    </div>
                </article>
            </div>

        <!-- Work -->
            <!--<div class="wrapper style2" id="work">
                <article>
                    <header>
                        <h2>I build awesome and rock-solid web applications with JavaScript and Python.</h2>
                    </header>
                    <div class="container">
                        <div class="row">
                            <div class="4u">
                                <section class="box style1">
                                    <span class="icon featured fa-bolt"></span>
                                    <h3>Rapid development</h3>
                                    <p>Want to go to the Internet of Things market quickly? I build on top of industry-proven software stacks.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="box style1">
                                    <span class="icon featured fa-cogs"></span>
                                    <h3>More platforms</h3>
                                    <p>I support you to increase your market size by targeting more platforms with cross-platform embedded software.</p>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="box style1">
                                    <span class="icon featured fa-cloud"></span>
                                    <h3>Cloud connected</h3>
                                    <p>Need to connect existing products to the cloud? Find more customers by new features around data analysis.</p>
                                </section>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <p>Want to know more and work with me?</p>
                        <a href="#portfolio" class="button big scrolly">See some of my recent work</a>
                    </footer>
                </article>
            </div>-->

        <!-- Portfolio -->
            <div class="wrapper style3" id="portfolio">
                <article>
                    <header>
                        <h2>Here’s some stuff I made recently.</h2>
                    </header>
                    <div class="container">
                        <div class="row">
                            <div class="4u">
                                <article class="box style2">
                                    <a href="https://www.collecticity.fr/" class="image featured"><img src="theme/images/pic07.png" alt="" /></a>
                                    <h3><a href="https://www.collecticity.fr/">Collecticity</a></h3>
                                    <p>
                                        Crowd-investment for public projects.<br>
                                        Full-stack JavaScript development.<br>
                                        <b>#JavaScript #AngularJS #LoopBack</b>
                                    </p>
                                </article>
                            </div>
                            <div class="4u">
                                <article class="box style2">
                                    <a href="https://vimeo.com/112967710" class="image featured"><img src="theme/images/pic03.jpg" alt="" /></a>
                                    <h3><a href="https://vimeo.com/112967710">Freuden|Tanz</a></h3>
                                    <p>
                                        Web-based interactive installation<br>
                                        by Stephan Jürgens.<br>
                                        <b>#JavaScript #three.js #leapmotion</b>
                                    </p>
                                </article>
                            </div>
                            <div class="4u">
                                <article class="box style2">
                                    <a href="http://www.ubrew.it" class="image featured"><img src="theme/images/pic02.png" alt="" /></a>
                                    <h3><a href="http://www.ubrew.it">μbrew</a></h3>
                                    <p>
                                        DIY and Embedded Gaming.<br>
                                        Learn about embedded development.<br>
                                        <b>#Buildroot #Qt #C++</b>
                                    </p>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="4u">
                                <article class="box style2">
                                    <a href="http://www.poio.eu" class="image featured"><img src="theme/images/pic02.gif" alt="" /></a>
                                    <h3><a href="http://www.poio.eu">Poio</a></h3>
                                    <p>
                                        Open Source Technology<br>
                                        for Language Diversity.<br>
                                        <b>#Python #Flask #JavaScript #D3.js</b>
                                    </p>
                                </article>
                            </div>
                            <div class="4u">
                                <article class="box style2">
                                    <a href="http://media.cidles.eu/poio/poio-api/" class="image featured"><img src="theme/images/pic05.png" alt="" /></a>
                                    <h3><a href="http://media.cidles.eu/poio/poio-api/">Poio API</a></h3>
                                    <p>
                                        A Python framework to work with<br>
                                        fieldwork data in linguistic research.<br>
                                        <b>#Python #JavaScript #D3.js</b>
                                    </p>
                                </article>
                            </div>
                            <div class="4u">
                                <article class="box style2">
                                    <a href="http://www.amazon.de/gp/product/3941841505/ref=as_li_tf_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3941841505&linkCode=as2&tag=jsusde-21" class="image featured"><img src="theme/images/pic06.png" alt="" /></a>
                                    <h3><a href="http://www.amazon.de/gp/product/3941841505/ref=as_li_tf_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=3941841505&linkCode=as2&tag=jsusde-21">PyQt book</a></h3>
                                    <p>
                                        GUI- und Anwendungsentwicklung mit<br>
                                        Python und Qt.<br>
                                        <b>#Python #PyQt</b>
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!--<footer>
                        <p>Want can I create for you?</p>
                        <a href="#contact" class="button big scrolly">Get in touch with me</a>
                    </footer>-->
                </article>
            </div>

        <!-- Feeds -->
            <div class="wrapper style3" id="feed">
                <article>
                    <header>
                        <h2>Video and blog feed.</h2>
                        <p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" class="icon fa-rss"><span class="label">RSS</span></a></p>
                    </header>
                    <div class="container feed">
                        <div class="row">
                            <div class="6u">
                                {% for article in dates if article.category == "Videos" %}
                                    {% if loop.index < 4 %}
                                        <article class="box style2 feed">
                                        <h3><a href="/{{ article.url }}">{{ article.title|replace('Video:', '<i class="fa fa-video-camera"></i>') }}</a></h3>
                                        {% if article.image %}
                                        <a href="/{{ article.url }}"><img src="{{ article.image }}" alt="" /></a>
                                        {% elif article.iframe %}
                                        <iframe style="border: none; width:100%; height:269px;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
                                        {% elif article.video %}
                                        <video tabindex="0" controls="" preload="none" style="width:100%"{% if article.videoposter %} poster="{{ article.videoposter }}"{% endif %}>
                                            <source src="{{ article.video }}" type="video/mp4" />
                                        </video>
                                        {% endif %}
                                        <p>
                                            {{ article.summary }}
                                            <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Go to video...</a>
                                        </p>
                                        </article>
                                    {% endif %}
                                {% endfor %}
                                <div>
                                    <a href="/category/videos.html">See all videos...</a>
                                </div>
                            </div>
                            <div class="6u">
                                {% for article in dates if article.category != "Videos" %}
                                    {% if loop.index < 4 %}
                                        <article class="box style2 feed">
                                        <h3><a href="/{{ article.url }}">{{ article.title }}</a></h3>
                                        {% if article.image %}
                                        <a href="/{{ article.url }}"><img src="{{ article.image }}" alt="" /></a>
                                        {% endif %}
                                        {% include 'article_infos.html' %}
                                        <p>
                                            {{ article.summary }}
                                            <a class="readmore" href="/{{ article.url }}">Read more...</a>
                                        </p>
                                        </article>
                                       {% endif %}
                                {% endfor %}
                                <div>
                                    <a href="/archives.html">See all posts...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>


{% endblock %}
