{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">
  <article class="h-entry">
    <header>
      <h2 class="entry-title e-title">
        <a class="p-name u-url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h2>
    </header>

    <div class="entry-content e-content">
      {% if article.iframe %}
      <div>
          <iframe style="border: none; width: 100%;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
      </div>    
      {% elif article.image %}
      <div style="margin-bottom:20px;">
          <img src="{{ article.image }}" {% if article.imagewidth|int >= 600 %}style="width:100%;"{% endif %} />
      </div>
      {% endif %}
      {% include 'article_infos.html' %}
      {{ article.content }}
      {% if article.twitter %}
      <div id="twitter">
        I also published this on <a rel="syndication" class="u-syndication" href="{{ article.twitter }}">Twitter</a>.
      </div>
      {% endif %}
    </div><!-- /.entry-content -->

    <h2>Webmentions</h2>
    <p><a href="http://indiewebify.me/">How does this work?</a></p>
    <div class="webmentions">
      <script type="text/javascript">
        function f(data) {
          if (data['links'].length > 0) { 
            document.write("<p>" + data['links'].length + " mentions:</p>");
            for (var i=0; i < data['links'].length; i++) {
              if ('author' in data['links'][i]['data']) 
                document.write("<p>" + data['links'][i]['data']['author']['name'] + " says: ");
              document.write(data['links'][i]['data']['name'] + " [<a href=\"" + data['links'][i]['source'] +  "\">" + data['links'][i]['source'] + "</a>]</p>");
            }
          } else {
            document.write("<p>No mentions yet :-P</p>");            
          }
        }
      </script>
      <script type="text/javascript" src="http://webmention.io/api/mentions?jsonp=f&target={{ (SITEURL+"/"+article.url)|urlencode }}"></script>
    </div>

  </article>

  <aside>
    <span>
        <!--<h3 style="text-align:center;">About</h3>-->
        <p style="text-align:center;"><img class="u-photo" src="/images/peter.jpg" /></p>
        <p style="text-align:justify;">
          My name is Peter Bouda, I work as freelance developer and am available to work in your project. Read my <a href="/pages/profile.html">freelancer profile</a> and <a href="/pages/contact.html">contact me</a> for more information and to talk about your project.
        </p>
        <p>This blog is part of the <a href="http://indiewebcamp.com/">IndieWeb</a>.</p>
    </span>
    {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
    <div class="social">
        <p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></p>
        {% if FEED_ALL_RSS %}
        <p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></p>
        {% endif %}

        {% for name, link in SOCIAL %}
            <p><a rel="me" href="{{ link }}">{{ name }}</a></p>
        {% endfor %}
    </div><!-- /.social -->
    {% endif %}                    
</aside>
</section>
{% endblock %}
