{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">
  <article class="h-entry">
    <header>
      <h2 class="entry-title">
        <a class="p-name u-url" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h2>
      {% include 'twitter.html' %}
    </header>

    <div class="entry-content">
      {% if article.iframe %}
      <div>
          <iframe style="border: none; width: 100%;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
      </div>    
      {% elif article.image %}
      <div style="margin-bottom:20px;">
          <img src="{{ article.image }}" style="width: 100%;" />
      </div>
      {% endif %}
      {% include 'article_infos.html' %}
      {{ article.content }}
    </div><!-- /.entry-content -->
    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
      <h2>Comments !</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        var disqus_url = "{{ SITEURL }}/{{ article.url }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    {% endif %}

    <h2>Webmentions</h2>
    <div>
      <script id="webmention-hosted">
        (function () {
          var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
          url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
          url = url && url[0] ? url[0].href : false;
          sn.type = "text/javascript"; sn.async = true;
          sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
          s.parentNode.insertBefore(sn, s);
        }());
      </script>
    </div>
  </article>

  <aside>
    <span>
        <!--<h3 style="text-align:center;">About</h3>-->
        <p style="text-align:center;"><img class="u-photo" src="http://www.poio.eu/static/media/img/peter_photo.png" /></p>
        <p style="text-align:justify;">
          My name is Peter Bouda, I work as freelance developer and am available to work in your project. Read my <a href="/pages/profile.html">freelancer profile</a> and <a href="/pages/contact.html">contact me</a> for more information and to talk about your project.
        </p>
    </span>
    {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
    <div class="social">
        <p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></p>
        {% if FEED_ALL_RSS %}
        <p><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></p>
        {% endif %}

        {% for name, link in SOCIAL %}
            <p><a rel="me" href="{{ link }}">{{ name }}</a></p>
        {% endfor %}
    </div><!-- /.social -->
    {% endif %}                    
</aside>
</section>
{% endblock %}
