{% extends "base.html" %}
{% block content %}        

{% if articles %}
    {% for article in articles_page.object_list %}        

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}

            {% if article.iframe %}

                <h1>Latest: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                {% if article.iframewidth|int >= 600 %}
                <div>
                    <iframe style="border: none; width: {{ article.iframewidth }}px; height: {{ article.iframeheight }}px;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
                </div>
                {% endif %}

                <article>
                    {% if article.iframewidth|int < 600 %}
                    <div>
                        <iframe style="border: none; width: {{ article.iframewidth }}px; height: {{ article.iframeheight }}px;" marginwidth="0" marginheight="0" scrolling="no" src="{{ article.iframe }}"></iframe>
                    </div>
                    {% endif %}
                    {% include 'article_infos.html' %}
                    {{ article.content }}
                    {% include 'comments.html' %}
                </article>

            {% elif article.image %}

                <h1>Latest: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                {% if article.imagewidth|int >= 600 %}
                <div style="margin-bottom:20px;">
                    <img src="{{ article.image }}" />
                </div>
                {% endif %}

                <article>
                    {% if article.imagewidth|int < 600 %}
                    <div>
                        <img src="{{ article.image }}" />
                    </div>
                    {% endif %}
                    {% include 'article_infos.html' %}
                    {{ article.content }}
                    {% include 'comments.html' %}
                </article>

            {% else %}
                <article>
                    <header>
                        <h1>Latest article</h1>
                    </header>
                    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                </article>
            {% endif %}

            <aside>
                <h3>About Programming Society</h3>
                <p style="text-align:center;"><img src="http://www.poio.eu/static/media/img/peter_photo.png" /></p>
                <p>This is Peter's blog about experimental computation and live coding.
                </p>
                <p><a href="/pages/about.html">Read more...</a></p>
                <p><a href="https://github.com/pbouda/peterbouda.eu">View sources...</a></p>
            </aside>

            {% if loop.length == 1 %}
                {% include 'pagination.html' %}
            {% endif %}

            {% if loop.length > 1 %}
            <article>
                <header>
                    <h1>Other articles</h1>
                </header>
            </article>
            {% endif %}

        {% else %} 

            <article>

                <h2 class="article-short"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                
                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->

                <hr />

            </article>


            {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}

        {% endif %}
        
    {% endfor %}
{% endif %}

{% endblock %}